

$primary-font:'Poppins', sans-serif;
$primary-text-color:black;
$theme-color:(
    //"priamry-color":#5a5353,
    
    "priamry-color":#050872,
    "priamry-hover":#080aac,
    "dark-theme":rgb(39, 38, 38)
);
