@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,400;1,600&family=Roboto:ital,wght@0,500;1,300&display=swap');

$primary-font:'Poppins', sans-serif;
$primary-text-color:black;
$theme-color:(
    //"priamry-color":#5a5353,
    "priamry-color":#fd853f,
    "priamry-hover":#0206f3,
    "dark-theme":rgb(39, 38, 38)
);
