@use "../abastract/functions"  as func;
@use "../abastract/mixins" as mix;

.header{
    width: 100%;
    position: fixed;
    display: flex;
    background: #fff;
    align-items: center;
    justify-content: space-around;
    padding: 10px 60px;
    border-bottom: 0.5px solid #eee;
    @include mix.responsive(xs){
        width: 100%;
        padding: 10px 20px;
        justify-content: space-between;
       
        
       
    }
    &-menu_btn img{
      display: none;
      @include mix.responsive(xs){
       width: 25px;
       display: block;
    }
    }
  &-logo{
    color:$primary-text-color;
   img{
    width: 60px;
    @include mix.responsive(xs){
      width: 50px;
    }
   }
  
  }
    &-menu{
    display: flex;
    @include mix.responsive(xs){
    display: none;
    
  }
  @include mix.responsive(xs){
    
  
   &.show{
    display: block;
    background-color: #0ac2fa;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top:65px;
    left: 0;
     text-align: center;
   }
   }

   }
   &-item{
     display: inline-block;
     margin-left: 40px;
     list-style: none;
     @include mix.responsive(xs){
       display: block !important; 
       padding: 10px 10px;
       margin: 0;
       margin-top: 20px;
      
    }
     .active{
      color: func.theme-color();
     }
     
    }
    &-link{
        text-decoration: none;
        color: $primary-text-color;
        font-size: 14px;
        text-transform: uppercase;
       
    }

    &-link:hover{
      color:func.theme-color(priamry-hover);
    }
}