@use "../abastract/functions"as func;
.about-area{
    background-color:func.theme-color() ;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 90px 200px;
    &--img{
        width: 350px;
        
    }
    &--content{
        margin-left: 60px;
        h2{
            color: #fff;
            font-size: 35px;
        }
        p{
            color: rgb(206, 197, 197);
            font-size: 15px;
        }
    }

}