@use "../abastract/functions"as func;
@use "../abastract/mixins" as mix;
.about-area{
    background-color:func.theme-color() ;
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: center;
    padding: 90px 200px;
    @include mix.responsive(xs){
            padding: 100px 30px;
            margin-top: 130px;
            flex-direction: column;
    }
    &--img{
        width: 350px;
        
    }
    &--content{
        margin-left: 60px;
        @include mix.responsive(xs){
            margin-top: 20px;
            margin-left: 0px;
        }
        h2{
            color: #fff;
            font-size: 35px;
            @include mix.responsive(xs){
              font-size: 25px;
              margin-top: 20px;
            }
        }
        p{
            color: rgb(206, 197, 197);
            font-size: 15px;
        }
    }

}